{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajouter une destination | Admin {% endblock %}

{% block body %}
 <div class="content-page">
           <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Destination</a></li>
                                        <li class="breadcrumb-item active">Ajouter</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Ajouter une destination</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->


                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Formulaire de Destinations de Voyage Écologique</h4>
                                <p class="sub-header">
                                    Le formulaire ci-dessous vous permet de saisir les informations sur les destinations
                                    de voyage
                                    écologiques.
                                </p>

                                <div class="row">
                                    <div class="col-12">
                                        <div>
                                            <form class="form-horizontal">
                                                <div class="form-group row">
                                                    <label class="col-md-2 col-form-label" for="nom-destination">Nom de
                                                        la
                                                        Destination</label>
                                                    <div class="col-md-10">
                                                        <input type="text" id="nom-destination" class="form-control"
                                                            placeholder="Entrez le nom de la destination...">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-2 col-form-label"
                                                        for="description-destination">Description</label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control" rows="5"
                                                            id="description-destination"
                                                            placeholder="Entrez une description de la destination"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-2 col-form-label" for="image-destination">Image
                                                        de la
                                                        Destination</label>
                                                    <div class="col-md-10">
                                                        <input type="file" id="image-destination" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-2 col-form-label" for="date-depart">Date de
                                                        Départ</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" id="date-depart" type="date"
                                                            name="date-depart">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-2 col-form-label" for="duree-sejour">Durée du
                                                        Séjour</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" id="duree-sejour" type="number"
                                                            name="duree-sejour">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-2 col-form-label" for="type-voyage">Type de
                                                        Voyage</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" id="type-voyage">
                                                            <option>Voyage Écologique</option>
                                                            <option>Plage</option>
                                                            <option>Aventure</option>
                                                            <option>Ville</option>
                                                            <option>Culture</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <!-- Ajoutez d'autres champs de formulaire écologique au besoin -->

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->
                                            <div class="form-group text-right mb-0">
                                            <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                                Ajouter
                                            </button>
                                            <button type="reset" class="btn btn-secondary waves-effect waves-light">
                                                Annuler
                                            </button>
                                        </div>
                            </div> <!-- end card-box -->
                        </div><!-- end col -->
                    </div>

                    <!-- end row -->




                 

                </div> <!-- end container-fluid -->

            </div> <!-- end content -->
</div> 
{% endblock %}