{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajouter Quiz | Admin {% endblock %}

{% block body %}
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Quiz</a></li>
                                    <li class="breadcrumb-item active">Ajouter</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Ajouter Quiz</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">Formulaire de Quiz</h4>
                            <p class="sub-header">
                                Le formulaire ci-dessous vous permet d'ajouter un quiz éducatif.
                            </p>

                            <div class="row">
                                <div class="col-12">
                                    <form method="post"  class="form-horizontal">
                                        <!-- Ajoutez les champs spécifiques pour le quiz -->
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="quiz-question">Question du Quiz</label>
                                            <div class="col-md-10">
                                                <input type="text" id="quiz-question" name="quiz-question" class="form-control" placeholder="Entrez la question du quiz...">
                                            </div>
                                        </div>

                                      <!-- ... -->
<div class="form-group row">
    <label class="col-md-2 col-form-label" for="quiz-option1">Option 1</label>
    <div class="col-md-10">
        <input type="text" id="quiz-option1" name="quiz-option1" class="form-control" placeholder="Entrez l'option 1...">
    </div>
</div>

<div class="form-group row">
    <label class="col-md-2 col-form-label" for="quiz-option2">Option 2</label>
    <div class="col-md-10">
        <input type="text" id="quiz-option2" name="quiz-option2" class="form-control" placeholder="Entrez l'option 2...">
    </div>
</div>

<div class="form-group row">
    <label class="col-md-2 col-form-label" for="quiz-option3">Option 3</label>
    <div class="col-md-10">
        <input type="text" id="quiz-option3" name="quiz-option3" class="form-control" placeholder="Entrez l'option 3...">
    </div>
</div>

<div class="form-group row">
    <label class="col-md-2 col-form-label" for="quiz-option4">Option 4 (Facultatif)</label>
    <div class="col-md-10">
        <input type="text" id="quiz-option4" name="quiz-option4" class="form-control" placeholder="Entrez l'option 4...">
    </div>
</div>
<!-- ... -->

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="quiz-reponse">Réponse Correcte</label>
                                            <div class="col-md-10">
                                                <input type="text" id="quiz-reponse" name="quiz-reponse" class="form-control" placeholder="Entrez la réponse correcte...">
                                            </div>
                                        </div>

                                        <!-- Ajoutez d'autres champs au besoin -->

                                        <div class="form-group text-right mb-0">
                                            <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                                Ajouter
                                            </button>
                                            <button type="reset" class="btn btn-secondary waves-effect waves-light">
                                                Annuler
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end row -->
                        </div> <!-- end card-box -->
                    </div><!-- end col -->
                </div>

                <!-- end row -->
            </div> <!-- end container-fluid -->
        </div> <!-- end content -->
    </div>
{% endblock %}
